:root{
  --color-1: #ea5822;
  --color-2: #eaf4f7;
  --color-3: #062a35;
  --color-4: #b7b7b7;
  --color-5: #324d56;
  --color-6: #0d3541;
  --color-7: #427b8e;
}

.flex-items{
  display: flex;
}

.color-2{
  background: var(--color-2); 
}

/* --------------- 
  
  Header
  
   ---------------*/

header {
  position: unset;
  padding: 1rem 0;
  background: var(--color-2);
}

.nav-flex{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* --------------- 
  
  Blog details
  
   ---------------*/

.blog-details{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 2rem;
}

.blog-details__article__content{
  padding: 2rem;
}

.blog-details__article{
  background: #fff;
}

.b-d__article__main-img{
  width: 100%;
}

.b-d__article__description{
  width: 85%;
  display: flex;
  justify-content: space-between;
  color: #808080;
}

.b-d__article__description .material-icons{
  color:var(--color-1);
}

.b-d__article__tag{
  width: min-content;
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background: var(--color-1);
  color: #fff;
}

.b-d__article__main-header{
  margin: 1rem 0;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2rem;
}

.b-d__article__paragraph{
  color: var(--color-4);
  font-size: 1rem;
  line-height: 1.5;
}

.b-d__button{
  background: var(--color-1);
  margin: 0;
}

.blog-details__list{
  display: grid;
  grid-gap: 2rem;
}

.b-d__article__citate{
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 2rem;
  background: #4169e1;
  color: #fff;
}

.article__citate__header{
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2rem;
}

.article__citate__author{
  font-weight: bold;
  font-size: 1rem;
}

/* --------------- 
  
  Aside
 
   ---------------*/

.blog-details__aside{
  display: flex;
  grid-gap: 2rem;
  flex-direction: column;
}

.b-g__aside__search-bar{
  padding: 2rem;
  background: #fff;
}

.aside__search-bar__header{
  font-weight: bold;
}

.aside__search-bar__input{
  display: flex;
  padding: .75rem;
  border-radius: 2rem;
  background: var(--color-4);
}

.aside__search-bar__input input{
  border: 0;
  font-weight: bold;
  text-transform: capitalize; 
  color: #808080;
  background: var(--color-4);
}

.aside__search-bar__input .material-icons{
  color: var(--color-1);
}

.aside__categories__category{
  display: flex;
  justify-content: space-between;
  margin: 0.25rem;
  padding: 1rem;
  background: #fff;
}

.aside__categories__category--active{
  background-color: var(--color-1);
  color: white;
}

.b-d__aside__recent-news{
  background: #fff;
  padding: 2rem;
}

.b-d__aside__recent-news h3{
  font-weight: bold;
}

.aside__recent-news__list{
  display: flex;
  flex-direction: column;
}

.aside__recent-news:last-child {
  border: 0;
}

.aside__recent-news{
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid #808080;
}

.aside__recent-news h3{
font-weight: bold;
}

.aside__recent-news img{
  width: 30%;
  padding-right: 1rem;
}

.aside__recent-news__name{
  font-weight: bold;
}

.aside__recent-news__author{
  font-size: 0.75rem;
  color: var(--color-4);
}

.b-d__aside__gallery{
  background: #fff;
  padding: 2rem;
}

.aside__gallery__header{
  font-weight: bold;
  margin-bottom: 1rem;
}

.aside__gallery__images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1rem;
}

.b-d__aside__gallery__image{
  width: 45%;
}

.b-d__aside__tags{
  background: #fff;
  padding: 2rem;
}

.aside__tags__header{
  font-weight: bold;
}

.aside__tags__list{
  display: flex;
  flex-wrap: wrap;
}

.aside__tags__tag{
  margin: .25rem;
  padding: .25rem;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  color: var(--color-4);
}

.b-d__aside__add{
  width: 100%;
}