.flex-items {
    display: flex;
}

.color-2 {
    background: #eaf4f7;
}


/* --------------- 

FAQ Content

---------------*/

.faq-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
}

.faq-content__our-founder {
    margin-bottom: 2rem;
    background-color: white;
}

.faq-content__our-founder img {
    width: 50%;
    display: block;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 100%;
    object-fit: cover;
}

.our-founder__name {
    text-align: center;
    font-weight: bold;
}

.our-founder__titles {
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
    color: #ea5822;
}

.our-founder__description {
    margin: 0 1rem;
    padding-bottom: 2rem;
    font-size: 0.75rem;
    text-align: center;
    color: #b7b7b7;
}

.faq-content__contact-us {
    background: #fff;
    padding: 2rem 0;
}

.contact-us__header {
    width: 80%;
    margin: 0 auto;
    text-transform: capitalize;
}

.contact-us__input {
    width: 80%;
    display: flex;
    margin: 0.5rem auto;
    padding: .5rem;
    border: 1px solid #808080;
    justify-content: space-between;
}

.contact-us__input input {
    border: 0;
    font-weight: bold;
    width: inherit;
}

.contact-us__input .material-icons {
    color: #ea5822;
}

.faq-content__contact-us .main-button {
    width: 80%;
    background: #ea5822;
}

.faq-content__faq {
    padding: 2rem;
    background: #fff;
}

.faq-content__faq__header {
    text-transform: capitalize;
    font-weight: bold;
}

.faq_question {
    margin-top: .5rem;
}

.faq_question__header-part {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    padding: 0.5rem 0;
}

.faq_question__header {
    font-weight: bold;
    user-select: none;
}

.faq_question__header--active {
    color: #ea5822;
}

.faq_question__paragraph {
    font-size: .85rem;
    line-height: 1.25rem;
    color: #b7b7b7;
    display: none;
}

.faq_question .material-icons {
    font-weight: bold;
    color: #ea5822;
    user-select: none;
}


/* --------------- 

Become section

---------------*/

.become-instructor {
    width: 40%;
    padding: 9rem 0;
    padding-left: 10%;
    background-color: #0e1951;
    display: flex;
    flex-direction: column;
}

.become-partner {
    width: 40%;
    padding: 9rem 0;
    padding-left: 10%;
    background-color: #000846;
    display: flex;
    flex-direction: column;
}

.become-sections__hgroup {
    text-transform: capitalize;
    color: white;
}

.become-sections__sub-header {
    font-size: 1rem;
}

.become-sections__sub-header::before {
    content: "■ ■ ■";
}

.become-sections__main-header {
    font-size: 2.5rem;
}

.become-sections__paragraph {
    width: 30rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #eaf4f7;
}

.become-sections__button {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 15px 32px;
    border: none;
    border-radius: 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: .75rem;
    font-weight: bold;
    color: #fff;
}

.become-sections__button .material-icons {
    margin-left: 0.25rem;
}

.become-partner .become-sections__button {
    background-color: #ea5822;
}

.become-instructor .become-sections__button {
    background-color: #3662ff;
}

@media only screen and (max-width: 1300px) {
    .faq-content__side,
    .faq-content__faq {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .become-sections {
        flex-direction: column;
    }
    .become-partner,
    .become-instructor {
        align-items: center;
        width: 100%;
        padding: 6rem 0;
    }
}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 576px) {
    .become-sections__paragraph {
        width: 20rem;
    }
}