@font-face {
  font-family: MYRIADPRO;
  src: url(MYRIADPRO-REGULAR.otf);
}
@font-face {
  font-family: MYRIADPRO;
  font-weight: bold;
  src: url(MYRIADPRO-BOLD.otf);
}

body {
  margin: 0;
  font-family: MYRIADPRO;
}

:root{
  --color-1: #ea5822;
  --color-2: #eaf4f7;
  --color-3: #062a35;
  --color-4: #b7b7b7;
  --color-5: #324d56;
  --color-6: #0d3541;
}

.COLOR-1 {
  background-color: #ea5822;
}
.COLOR-2{
  background-color: #eaf4f7;
}
.COLOR-3{
  background-color: #062a35;
}
.COLOR-4{
  background-color: #b7b7b7;
}
.COLOR-5{
  background-color: #324d56;
}
.COLOR-6{
  background-color: #0d3541;
}


/*
Blok	.block
Element	.block__element
Modifikátor	.block--modifier
Modifikátor elementu	.block__element--modifier

Blok
Blok je v zásadě komponenta uživatelského rozhraní. Nezávislý prvek uživatelského rozhraní, který je znovupoužitelný. Bloky se do sebe mohou libovolně zanořovat.
.nazev-bloku.

Element
Prvek uvnitř bloku, který potřebujeme stylovat. Element nelze v rozhraní použít samostatně. Jeho existence má smysl jen v rámci bloku.
.nazev-bloku__nazev-elementu.

Modifikátor
Varianta komponenty. Popisuje vizuální vlastnosti (.block--small), stav (.block--disabled) nebo chování (.block--animated-to-left). Neměla by nést název závislý na vzhledu (.block--green).
.nazev-bloku--nazev-modifikatoru.
*/
/* Global */
.tag{
  font-weight: bold;
  font-size: 1rem;
  color: white;

  width: min-content;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;

  background: royalblue;
}

/* Tagy */
a{
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: unset;
}

/* Grid */
.main-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;

  padding: 9rem 0 6rem;
}

.main-grid__content{
  grid-column-start: 2;
  grid-column-end: 3;
}

/* Texty a nadpisy */
.main-hgroup{
  margin: 0 0 2rem 0;
}

.sub-header{
  color: var(--color-1);

  font-size: 1rem;
  text-align: center;
}

.main-header{
  margin: 10px;
  color: var(--color-3);

  font-size: 2.5rem;
  text-align: center;
}


/* LOGO */
.logo{
  display: flex;
  align-items: center;
}

.logo__img {
  width: 3rem;
}

.logo__text{
  font-family: MYRIADPRO;
  color:  #062a35;
}

.logo-edu{
  font-weight: bold;
}

.logo--footer{
  color: white;
}
/* HEADER */
header{
  width: 100%;
  height: 10vh;
  display: flex;
  
}

nav{
  display: flex;
  align-self: center;
  margin: 0 1rem;
}

nav ul{
  display: flex;
}

nav li{
  display: flex;
  align-items: center;
  padding: 0.5rem;

  font-size: 0.75rem;
  color:  #062a35;
}

nav .material-icons{
  font-size: 0.75rem;
}

.nav-buttons{
  display: flex;
  align-items: center;
}

.nav-buttons:first-child{
  background-color: var(--color-1);
}

.social-button{
  display: flex;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;

  margin: 1px;
  background-color: white;
}

.social-button:first-child{
  background-color: var(--color-1);
}

.social-button__img{
  height: 0.8rem;
  margin: 0 auto;
  display: block;
}

.sign-in-button{
  display: flex;
  align-items: center;

  background: white;
  color: var(--color-3);

  margin: 1px;
  padding: 3px;
}

.sign-in-button .material-icons{
  font-size: 0.75rem;
}

#apps{
  color: var(--color-1);
}

/* expert instructors*/
.expert-instructors__instructors{
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.instructors__instructor{
  width: 100%;
  border: 1px solid #b7b7b7;
  background: white;
  position: relative;
}

.instructor__image{
  width: 100%;
  height: 10rem;
}


.instructor__more-info{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: var(--color-1);
  position: absolute;
  top: 9rem;
  right: 1rem;
}

.instructor__more-info .material-icons{
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
}

.instructor__description{
  padding: 1rem;
}
.instructor__name{
  font-weight: bold;
}
.instructor__type{
  font-size: 1rem;
  color: var(--color-4);
  padding-bottom: 1rem;
}
.instructor__courses{
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid var(--color-4);
  font-size: 1rem;
}
.instructor__courses .material-icons{
  padding-right: 0.2rem;
  color:var(--color-1);
}
/* gallery */
.gallery{
  background: white;
}

.gallery-hgroup{
  display: flex;
  justify-content: center;
  
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-bottom: 1px solid #b7b7b7;
}

.gallery-hgroup button{
  border: none;
  padding: 1.5rem 1rem;

  font-size: 1rem;
  font-weight: bold;
  background: #fff;
  color: var(--color-3);
}

/*.gallery-hgroup button:hover{
  border: none;
  border-bottom: 2px solid var(--color-1);;
  color: var(--color-1);
}*/

.gallery-photos{
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.gallery-photos__image{
  width: 100%;
  border: 1px solid #b7b7b7;
  background: #062a35;
}

.gallery-photos__image img{
  width: 100%;
}

/* available courses */
.available-courses{
  background-color: var(--color-3);
  padding: 150px 0;
}

.available-courses .main-header{
  color: white;
}

.available-courses-grid{
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.available-course{
  width: 100%;
  border: 1px solid #b7b7b7;
  background: white;
}

.available-course-text{
  padding: 1.5rem;
}

.available-course-text-header{
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-3);

  margin: 1rem 0;
}
/* course categories */
.course-categories{
  background-color: white;
}

.course-categories-courses{
  width: 100%;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.course-category{
  width: 100%;
  border: 1px solid #b7b7b7;
}

.course-category__header{
  font-weight: bold;
}

.course-category__description{
  margin: 5px 0;

  font-size: 1rem;
  color: var(--color-4);
}

.course-category-content{
  padding: 1.5rem;
}

.course-category-content .material-icons{
  color: var(--color-1);
  vertical-align: middle;
}

.course-category img{
  width: 100%;
  height: 150px;

  background: grey;
}

.course-category-content ul{
  display: flex;
}

.course-category-content__groups, .course-category-content__courses{
  margin: 0 5px;
  color: var(--color-4);
}

/* Companies */

.companies{
  padding: 3rem 0;
}

.companies__list{
  width: 100%;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
}

.companies img{
  width: 100%;
}

/* FOOTER */
.footer{
  background-image: url("../img/footer.png");
  padding: 2rem 0;
}

.footer-top-part{
  width: 100%;
  height: 8rem;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 2fr 4fr;
  align-items: center;

  border-bottom: 1px solid var(--color-4);
  margin-bottom: 3rem; 
}

.footer-top-part .logo__text{
  font-size: 2rem;
  color: white;
}

.footer-socials-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social{
  padding: 1rem;
  color: white;
}

.footer-social img{
  width: 1.5em;
  margin: 0.3rem;
  vertical-align: middle;
}

.footer-bottom-part{
  width: 100%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 2fr 1fr 3fr;
}
.footer-categories{
  color: white;
  width: 100%;
}
.footer-categories h2{
  margin-bottom: 1rem;
}
.footer-categories ul li{
  margin: 0.4rem 0;
  color:var(--color-4)
}

.footer-company{
  color: white;
}
.footer-company h2{
  margin-bottom: 1rem;
}
.footer-company ul li{
  margin: 0.4rem 0;
  color:var(--color-4)
}

.footer-copyright{
  color: var(--color-2);
  text-align: center;
  width: 100%;
  font-size: 1rem;
  padding: 0.1rem 0;
  background-color: var(--color-6);
}
